/*custom css para coisas pessoais: matheus laidler*/

/*
parte css para vídeos nos posts: 
criado para vídeos colocados diretamente no diretório, sem ser externo de alguma plataforma

Usar video no seu post?
<video class="videoPost" controls="controls">
  <source src="/assets/videos/nome_do_video.mp4">
</video>

*/

/*arrumando video em resolução e borda pro tema*/
.videoPost {
	width: 85vh;
    height: 50vh;
	border-bottom: 0.35vh solid #73ffe8;
    border-top: 0.35vh solid #73ffe8;
}
/*mobile-sidebar-profile*/
.profile-wrapper {
    padding: 1.85vh;
}

/*switch theme MenuButton*/
.theme {
    width: auto;
    margin-top: 1.5vh;
    color: #73ffe8;
    background-color: rgba(245, 245, 245, 0);
    border: none;
    display: none; /*decidi colocar 'none' para não ter dois botões que mude o tema em desktop, mas tendo para mobile se precisar.
    I've decided to add the SwitchTheme Button on my personal menu just when on Mobile*/
}

/*arrumando video para mobiles e tablets*/
@media screen and (max-width: 980px) {
    .videoPost {
        width: 40vh;
        height: 23.5vh;
	    border-bottom: 0.35vh solid #73ffe8;
        border-top: 0.35vh solid #73ffe8;
    }
/*mobile-sidebar-profile*/
    .profile-wrapper {
        /*display: none;*/
        /*overflow: hidden;*/
        padding: 3vh 0;
    }
/*switch theme MobileMenuButton*/
.theme {
    position: center;
    margin-left: 22.25vh;
    display: inline-flex;
}
}
