---
layout: compress
---

<!doctype html>

{% include origin-type.html %}

{% include lang.html %}

{% if site.theme_mode %}
  {% capture prefer_mode %}data-mode="{{ site.theme_mode }}"{% endcapture %}
{% endif %}



<!-- `site.alt_lang` can specify a language different from the UI -->
<html lang="{{ page.lang | default: site.alt_lang | default: site.lang }}" {{ prefer_mode }}>

  {% include head.html %}

<!-- menu desktop/mobile -  creditos> matheuslaidler.github.io -->
<nav id="cssmenu">
  <table width="auto" border="0" align="left"> 
    <tbody>
     <tr>  
      <td>
        <a href="/" title="matheuslaidler" target="_parent"> <!--   width="75%" top="1.285vh" left="15vh" align-self="left" border="0"  -->
				  <img class="logotipo" src="{{ "/assets/img/menu/matheuslaidler.gif" | absURL }}"/></a>
      </td> 
      </tbody>
    </table> 
  <div class="menu-icon">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </div>
  <ul>
    <li class="active"><a href="{{ site.baseurl }}" target="_parent">Acervo</a></li>
    <li><a href="{{ site.baseurl }}/projetos" target="_parent">Projetos</a></li>
    <li><a href="https://matheuslaidler.github.io/cryptool/" target="_parent">Cryptool</a></li>
    <li class="has-sub">
    <a href="#pages" data-toggle="dropdown">Páginas</a>
    <ul>
      <li><a href="https://github.com/matheuslaidler" target="_blank">Github</a></li>
      <li><a href="https://matheuslaidler.gitbook.io/" target="_blank">Rascunhos</a></li>
      <li><a href="https://youtube.com/@matheuslaidler" target="_blank">Youtube</a></li>
      <li><a href="https://instagram.com/matheuslaidler" target="_blank">Instagram</a></li>
      <li><a href="https://twitter.com/matheuslaidler" target="_blank">Twitter/X</a></li>
      <li><a href="https://linkedin.com/in/laidlervidal" target="_blank">LinkedIn</a></li>
    </ul>
      </li>
      <li class="has-sub">
      <a href="#donates" data-toggle="dropdown">Doação</a> <!-- donates❤ -->
      <ul>
        <li><a href="https://github.com/sponsors/matheuslaidler" target="_blank" title="Github Sponsor">Github Sponsor</a></li>
        <li class="has-sub">
          <a href="https://www.paypal.com/donate/?hosted_button_id=SJYYS28HZPU9A" title="Paypal">PayPal</a>
            <!-- my paypal links: 
            https://www.paypal.com/donate/?hosted_button_id=SJYYS28HZPU9A
            https://www.paypal.com/donate/?hosted_button_id=55KGKSTYDTDCS
            -->
      <ul><center><!-- paypal pop-up -->
      <div id="donate-button-container">
        <div id="donate-button" ></div>
        <script src="https://www.paypalobjects.com/donate/sdk/donate-sdk.js" charset="UTF-8"></script>
        <script>
        PayPal.Donation.Button({
        env:'production',
        hosted_button_id:'55KGKSTYDTDCS',
        image: {
        src:'https://www.paypalobjects.com/pt_BR/BR/i/btn/btn_donateCC_LG.gif',
        alt:'Faça doações com o botão do PayPal',
        title:'PayPal - Doação segura !',
        }
        }).render('#donate-button');
        </script>
      </div>
      </center></ul>
      </li>
      </ul>
    </li>
      <li class="has-sub">
        <a href="#pt-br" target="_parent" data-toggle="dropdown"  target="_parent">
          <img class="idioma" src="{{ site.baseurl }}/assets/img/btns/portuguese.png" title="portuguese"/></a> <!-- {{ "images/btns/portuguese.png" | absURL }} -->
          <ul>
            <li>
              <a href="https://medium.com/@matheuslaidler" target="_blank">
                <img class="idioma" src="{{ site.baseurl }}/assets/img/btns/english.png" title="english"/></a>
            </li>
          </ul>
      </li>
      <li>
      <button type="button" class="mode-toggle theme" aria-label="Switch Mode">
        <i class="fas fa-adjust"></i>
      </button>
    </li>
  </nav>
<!-- fim do menu de matheus laidler -->

  <body>
    {% include sidebar.html lang=lang %}

    <div id="main-wrapper" class="d-flex justify-content-center">
      <div class="container d-flex flex-column px-xxl-5">
        {% include topbar.html lang=lang %}

        <div class="row flex-grow-1">
          <main aria-label="Main Content" class="col-12 col-lg-11 col-xl-9 px-md-4">
            {% if layout.refactor or layout.layout == 'default' %}
              {% include refactor-content.html content=content lang=lang %}
            {% else %}
              {{ content }}
            {% endif %}
          </main>

          <!-- panel -->
          <aside aria-label="Panel" id="panel-wrapper" class="col-xl-3 ps-2 mb-5 text-muted">
            <div class="access">
              {% include_cached update-list.html lang=lang %}
              {% include_cached trending-tags.html lang=lang %}
            </div>

            {% for _include in layout.panel_includes %}
              {% assign _include_path = _include | append: '.html' %}
              {% include {{ _include_path }} lang=lang %}
            {% endfor %}
          </aside>
        </div>

        <div class="row">
          <!-- tail -->
          <div id="tail-wrapper" class="col-12 col-lg-11 col-xl-9 px-md-4">
            {% for _include in layout.tail_includes %}
              {% assign _include_path = _include | append: '.html' %}
              {% include {{ _include_path }} lang=lang %}
            {% endfor %}

            {% include_cached footer.html lang=lang %}
          </div>
        </div>

        {% include_cached search-results.html lang=lang %}
      </div>

      <aside aria-label="Scroll to Top">
        <button id="back-to-top" type="button" class="btn btn-lg btn-box-shadow">
          <i class="fas fa-angle-up"></i>
        </button>
      </aside>
    </div>

    <div id="mask"></div>

    {% if site.pwa.enabled %}
      {% include_cached notification.html lang=lang %}
    {% endif %}

    <!-- JavaScripts -->

    {% include js-selector.html lang=lang %}

    {% if page.mermaid %}
      {% include mermaid.html %}
    {% endif %}

    {% include_cached search-loader.html lang=lang %}
  </body>
</html>